@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0%,
  100% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
}

.animate-gradientAnimation {
  background-size: 200% 200%;
  animation: gradientAnimation 8s infinite;
}

.feature-section {
  margin-bottom: 3rem;
  white-space: break-spaces;
}

@media (max-width: 599px) {
  pre code {
    font-size: 0.7rem;
  }
}

code {
  white-space: break-spaces;
}
